<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        .center {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body style="background: url(https://www.pexels.com/photo/brown-wooden-stick-on-green-grass-9420724/);">
    <% if (locals.mess) { %>
        <div class="center mb-4" >
            <h1>
                <%= mess %>
            </h1>
        </div>
        <% } %>

            <div class="center">
                <a href="/" class="btn btn-primary">Login</a>
            </div>
</body>

</html>